@media (min-width: 780px){


    header {
        padding: 0px 0px 15px 0px;
    }

    .headlogo {
        width: 200px;
    }

    /* Navigation Css */
    main {
        margin-left: 300px;
    }

    .navlist {
        margin: 0;
        padding: 0;
        width: 300px;
        background-color: #d0a9bf;
        position: fixed;
        height: 100%;
        overflow: auto;
    }
    
    .navlist li {
        width: 250px;
        text-align: left; 
        font-size: 1.5rem; 
    }

    #hero {
        display: block;
        position: relative;
    }

    .footer {
        margin: 0 1.5rem 0 0;
        text-align: right;
    }
  /* Receptions */

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;

}

}