@media (min-width: 550px){


    header {
        justify-content: space-evenly;
        font-size: 1.5rem;
        padding: 0px 0px 15px 0px;
    }

    .headlogo {
        width: 200px;
    }

/* Navigation Css */
    .navlist {
        width: 100%;
        font-size: 1rem;
    }


    .navlist li:first-child {
        display: none;
    }

    .navlist li {
        display: inline-block;
        width: auto;
    }

    /* Main CSS */


    .para1 {
        display: block;
        background: #E6D3DE;
        border: 10px;
        padding: 5px;
    }

    #para2h3 {
        text-align: center;
        padding: 15px;
    }


    /* Map and contact information */

    .contactus {
   
        text-align: right;
        font-size: 1.25rem;
    }
    .contactus iframe {
        float: left;
        height: 115px;
        width: auto;
        margin: 0px 0px 0px 15px;
    }

    /* footer CSS */

    .footer {
        text-align: center;
    }


}