body {
    background-color: #C4DAF4;
    font-family: Alegreya;
}

header {
	margin: 10px auto;
	background-color: #4C69A5;
	border: 1px solid #4C69A5;
	box-shadow: 0 0 30px #777;
    text-align: center;
    font-family:Alegreya;
    color: #ffffff;

}

header img, .headings {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}

nav{
    margin: 20px auto;
    background-color: #A5CBF4;
    border: 1px solid #A5CBF4;
    box-shadow: 0 0 30px #777;
    text-align: left;
    font-family: Alegreya; 
} 

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    background-color: #A5CBF4
}
li {
    float: left;
}
li a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 0px 16px 5px 16px;
    text-decoration: none;
    
}

li a:hover {
    background-color: #C4DAF4;
}

.motto {
    margin: 40px auto;
    text-align: center;
    font: Alegreya;
}
