*{
    padding:0;
    margin: 0;
}
body {
    background-color: #FAFCFF;
    font-family: 'Alegreya', serif;
    font-size: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
	background-color: #4C69A5;
	border: 1px solid #4c69a5;
	box-shadow: 0 0 30px #777;
    text-align: right;
    font-family: 'Alegreya', serif;
    color: #ffffff;

}

header img {
	margin: 30px 0px;
}

h1 {
   font-style: oblique; 
   text-align: right;
}

nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #A5CBF4;
    box-shadow: 0 0 30px #777;


}
main {
    max-width: 850px;
    margin:auto;
    text-align: center;
}
section {
    margin: 15px;
}
article {
    margin: 20px;
}

footer {
    background-color: #A5CBF4;
    padding: 8px;
    max-width: 850px;
    margin: auto;

}

.motto {
    margin: 40px auto;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-style: italic;

}
.navmenus {

    margin: 20px auto;
    text-align: left;
    font-family: 'Alegreya', serif; 
} 

.navmenus ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A5CBF4
    
}
.navmenus li:first-child {
    display: block;
    text-align: center;
}
.navmenus li {
    display: none;    
    width: 100%;
    height: 50px;
    margin: auto;

}
.navmenus li a {
    color: #ffffff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 1.25em;
   
}

.navmenus li a:hover {
    background-color: #C4DAF4;
}

.responsive li {
    display: block;
    text-align: center;
}

.active {
    background-color: #4C69A5;

}
.currentweatherbox {
    margin: 10px auto;
    position: relative;
}
.currentweatherbox img {
    width: 100%;
}
.currentweather {
     position: absolute;
     top: 10px;
     margin: 0px;
     background-color: #A5CBF4;
     padding: .5rem;
     text-align: center;

}
.currentweather h3 {
    border-bottom: .5px solid #fff;
    padding-bottom: 2px;
    margin-bottom: 10px;
}
.currentweather div {
    line-height: 1.2;
    padding: .1rem;
    margin:0;

}
.weatherdetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .25rem;

}
.weatherdetails .label {
    text-align: right;
}
.weatherdetails .value {
    text-align: left;
}

.fivedayforecast {
    display: none;
}


.allaboutpreston {
    background-color: #A5CBF4
}

.articlepicture {
    float: right;
    width: 35%;
}
.mapinfo {
    background-color: #4C69A5;
    color: #A5CBF4;
    height: auto;
}
.mapinfo picture {
    width: auto;
}
.mappic {

    float: right;
    width: auto;
    margin: 25px 50px;
}
.mapaddys {
    text-align: left;
    font-size: 1rem;
    padding: 1.5rem;
}
.mapaddys ul {
    list-style-type: none;

}
#weathertitle{
    padding: 1em;
    font-size: 1.75em;
    
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .75em;
    

}
.gallery caption {
    font-size: .75em;
    text-align: center;
}
.galleryimage {
    border: 1px solid #bbb;
}
.galleryimage img {
    width: 100%;
    height: auto;
}

.copyinfo {
    text-align: center;
}