@media (min-width: 780px){
    
   


    nav {
        flex-direction: row;  
    }
    .headings img {
        display: right;
    }
    .navmenus {
        padding: 0;
        text-align: center;

    }

    .navmenus li:first-child {
        display: none;
    }

    .navmenus li {
        display: inline;
    
    }


    .currentweather {
        top: 50px;
        left: 50px;

   }

   .fivedayforecast {
       display: block;
       text-align: center;
       

   }
   #tableprop {
       margin-left: auto;
       margin-right: auto;
   }

   .articlepicture {
        width: 250px;
}
    .mappic {
        width: 150px;
}
.gallery {
    grid-template-columns: 1fr 1fr 1fr;

}

}
